In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('./order.csv')
df.tail(20)

,order_id,quantity,product_id,price,seller_id,freight_value,customer_id,order_status,purchase_date,payment_type,product_category_name,product_weight_gram
49979,d779d1f64c00cb888484f4b2f5eab951,1,33fca9d59532dd4c191217a979346ab9,1184000,fe2032dab1a61af8794248c8196565c9,136000,7adeb9ef7256f00660337f5959bcaaf6,delivered,2017-12-15,credit card,beauty,431.0
49980,d8eb5e8c7fc14da34fc5252a2ca7cfab,1,5ccdfc35d9cff8db4fa46b83d5712899,3724000,238fac594e170b59c6d228f5a4f4f1d9,113000,673109a1fff714fa4273743b032a9324,delivered,2017-12-15,credit card,fashion,15700.0
49981,dc12f9e8414131e62897902a78e0286e,2,5ed9eaf534f6936b51d0b6c5e4d5c2e9,3338000,8cbac7e12637ed9cffa18c7875207478,199000,43b59dd57875a5c0b3e2d70f13a5baf6,delivered,2017-12-15,e-wallet,sports,600.0
49982,dc12f9e8414131e62897902a78e0286e,1,5ed9eaf534f6936b51d0b6c5e4d5c2e9,809000,8cbac7e12637ed9cffa18c7875207478,63000,43b59dd57875a5c0b3e2d70f13a5baf6,delivered,2017-12-15,e-wallet,fashion,600.0
49983,dd873443c3a8427c7a65cfe4c9671b1a,1,cb92637d91f8267856d2143b6fc7bd9e,3079000,376a891762bbdecbc02b4b6adec3fdda,117000,6c158cfc6c0d09c37f7676a42c94e527,delivered,2017-12-15,credit card,automotive,250.0
49984,df1ca8d699e806b9f7218c3bbedd99aa,1,6c58b4fa44aeffc444c5f0f178029cc6,3737000,fa1c13f2614d7b5c4749cbc52fecda94,160000,671beff05d7225f209b521637f46d2b5,delivered,2017-12-15,credit card,utilities,300.0
49985,e04d2191af862183e0ebda80377a6a32,1,e0d64dcfaa3b6db5c54ca298ae101d05,1963000,4869f7a5dfa277a7dca6462dcf3b52b2,98000,fd21c14f33f4bcdf2ac9b4073583ca64,delivered,2017-12-15,virtual account,utilities,4338.0
49986,e09eca55c225b904c8579bb1c56b77b2,1,5926c58c462b5d1f932ef3f0a9e37d41,4049000,c64a2aec32cc408a8a4c6d7c46017f91,12000,301d5da00e8c74d0d2c80e2a27089a5a,delivered,2017-12-15,debit card,sports,8300.0
49987,e18cd51191ffbe2bca934d1d13805164,2,aca2eb7d00ea1a7b8ebd4e68314663af,2476000,955fee9216a65b617aa5c0531780ce60,66000,5c134dca7df257cb7068eefacd04e00b,shipped,2017-12-15,credit card,automotive,2600.0
49988,e18cd51191ffbe2bca934d1d13805164,1,aca2eb7d00ea1a7b8ebd4e68314663af,4796000,955fee9216a65b617aa5c0531780ce60,177000,5c134dca7df257cb7068eefacd04e00b,shipped,2017-12-15,virtual account,electronics,2600.0
49989,e2abaacfbaa87cb128b9c6675bcd2b98,1,7a9cf133da2a6494259ffeeab11b6276,4514000,db4350fd57ae30082dec7acbaacc17f9,158000,d8c600db799de9c8c959530c4c5976ed,delivered,2017-12-15,e-wallet,electronics,150.0
49990,e35d5b4ff8dc9aeccf9cd8ce63c07a68,1,8a551a6371de62f6f595bb25c473b877,2667000,04aba03279157f6d4e0fe8ccaf21963c,190000,cea608fc4c1e7191f2fa019426a40ccd,delivered,2017-12-15,e-wallet,utilities,1150.0
49991,e59dbfb7d81fd513f1ffa941fe849c57,1,9feeadd6b97835152e83e1b25b46f5c4,1923000,3fd1e727ba94cfe122d165e176ce7967,175000,affa1ae9fc01158bf723814d1dd9d0ce,delivered,2017-12-15,credit card,beauty,1064.0
49992,e821c71ba6efed0813bbc0a01a95f24d,1,f9259c9e7c0f12c70f7a81409680a5ff,3077000,c68fb906c8f4b4b946d8386bfa6e5467,183000,e92f244376eed380877c6aab4cc5b0e0,delivered,2017-12-15,virtual account,toys,925.0
49993,e821c71ba6efed0813bbc0a01a95f24d,1,f9259c9e7c0f12c70f7a81409680a5ff,342000,c68fb906c8f4b4b946d8386bfa6e5467,173000,e92f244376eed380877c6aab4cc5b0e0,delivered,2017-12-15,credit card,fashion,925.0
49994,ec88157ad03aa203c3fdfe7bace5ab6b,1,165f86fe8b799a708a20ee4ba125c289,3077000,7ddcbb64b5bc1ef36ca8c151f6ec77df,172000,1642b8087a8ca0c8592becff7e183c98,delivered,2017-12-15,e-wallet,automotive,2425.0
49995,ed60085e92e2aa3debf49159deb34da7,1,6e835aea84ae8eb68b8c14878dd43b30,1277000,4d6d651bd7684af3fffabd5f08d12e5a,130000,431bbb57d52f3141ab2f33a6a4cf00a6,delivered,2017-12-15,debit card,beauty,2350.0
49996,ed98c37d860890f940e2acd83629fdd1,2,aca2eb7d00ea1a7b8ebd4e68314663af,486000,955fee9216a65b617aa5c0531780ce60,14000,71f8cd490677ee95362201588c0eaff4,delivered,2017-12-15,debit card,gadget,2600.0
49997,ed98c37d860890f940e2acd83629fdd1,1,aca2eb7d00ea1a7b8ebd4e68314663af,830000,955fee9216a65b617aa5c0531780ce60,108000,71f8cd490677ee95362201588c0eaff4,delivered,2017-12-15,e-wallet,gadget,2600.0
49998,ede4ebbb6e36cbd377eabcc7f5229575,1,2b0ee2d07306f7c9ac55a43166e9bb4b,215000,1900267e848ceeba8fa32d80c1a5f5a8,189000,60d2d93a97ec1ad751f2ddce9249ba2a,delivered,2017-12-15,credit card,beauty,1450.0

In [3]:
#Jawaban Nomer 1
dg = df[['payment_type','price']]
dg.groupby(['payment_type']).mean()

                        price
payment_type
credit card      2.600706e+06
debit card       2.611974e+06
e-wallet         2.598562e+06
virtual account  2.619786e+06

In [4]:
#Jawaban Nomer 2
dc = df[['order_status']].groupby(['order_status']).size()
dc

order_status
approved           3
canceled         267
delivered      48664
invoiced         221
processing       270
shipped          567
unavailable        7
dtype: int64

In [5]:
# Jawaban Nomer 3
de = df[['product_category_name','quantity']]
de = de.loc[de['product_category_name'] == 'electronics']
de = de.groupby('product_category_name').sum()
de['total_data'] = len(df.loc[df['product_category_name'] == 'electronics'].index)
de['mean'] = de['quantity'] / de['total_data']
de

                       quantity  total_data      mean
product_category_name
electronics                7537        6299  1.196539

In [6]:
#Jawaban Nomer 4
df[['product_category_name','quantity']].groupby('product_category_name').sum().sort_values('quantity',ascending=False).head(1)

                       quantity
product_category_name
toys                       7705

In [7]:
#Jawaban Nomer 5
dw = df[['product_category_name','product_weight_gram']]
dw.groupby('product_category_name').max().sort_values('product_weight_gram',ascending=False).head(1)

                       product_weight_gram
product_category_name
electronics                        40425.0